<a href="https://colab.research.google.com/github/ddv246/Lending-Club/blob/master/LendingClub_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#If opening in colab run this cell
!git clone https://github.com/ddv246/Lending-Club
%cd Lending-Club

Cloning into 'Lending-Club'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 9 (delta 1), reused 2 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.
/content/Lending-Club

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
import warnings
import gc
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## **Loading the Data**

In [0]:
start_df = pd.read_csv('Loansample.csv', low_memory=False)

In [4]:
df = start_df.copy(deep=True)
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 145 columns]

Checking Dimensions

In [6]:
df.shape

(99999, 145)

Understanding columns in the Dataframe

In [7]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

## **Understanding the Data**

Description of various columns in the dataset

In [10]:
df_description = pd.read_excel('LCDataDictionary (1).xlsx').dropna()
df_description.style.set_properties(subset=['Description'], **{'width': '1000px'})

Identifying total number and percentage of missing values

In [0]:
def null_values(df):
        missing_val = df.isnull().sum()
        missing_val_percent = 100 * df.isnull().sum() / len(df)
        missing_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        missing_val_table_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_columns = mis_val_table_columns[
            mis_val_table_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_columns

In [14]:
missing_values = null_values(df)
missing_values.head()

Dataframe has 145 columns.
There are 61 columns that have missing values.

              Missing Values  % of Total Values
id                     99999              100.0
url                    99999              100.0
desc                   99999              100.0
member_id              99999              100.0
hardship_dpd           99998              100.0